body {
    background-color: #FFE7C3;
    display: flex;
    justify-content: center;
}

.content {
    position: absolute;
    top: 20%;
    font-family: 'Permanent Marker', cursive, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.moto {
    font-size: 46px;
    margin-top: 20px;;
}